body {
    background: #ddd;
    color: #000;
}

hr {
    margin: 12px 0;
}

.container.main-container {
    padding-top: 0;
}

#timelines {
    padding-top: 10px;
}

.timeline {
    padding: 30px 0;
    margin: 0 auto;
}

.timeline .vis-panel.vis-center,
.timeline .vis-timeline {
    overflow: visible;
    background: #fff;
}

.vis-item.default .vis-item-content {
    width: 250px;
    white-space: normal;
    text-align: left;
}
.vis-item.default {
    background-color: rgba(115, 155, 200, 1);
}
.vis-item.default.period {
    background-color: rgba(200, 155, 155, 1);
}

#timelines-new {
    padding: 1px 0;
}

#timelines-new .main {
    background: #fff;
    position: relative;
    margin: 30px 0;
    overflow: scroll;
}

#timelines-new h2 {
    color: #000;
}

#timelines-new .line {
    border-width: 2px 0 2px 2px;
    border-color: #000;
    border-style: solid;
    height: 1500px;
    width: 170px;
}

#timelines-new .events {
    color: #000;
}

#timelines-new .event {
    position: absolute;
    left: 202px;
    padding-left: 5px;
    top: 0;
}

#timelines-new .event .text {
    position: absolute;
    width: 1200px;
    top: 0;
}

#timelines-new .bar1 {
    border-width: 2px 2px 0 0;
    border-color: #000;
    border-style: solid;
    position: absolute;
    left: -200px;

}

#timelines-new .bar2 {
    border-width: 2px 0 0 0;
    border-color: #000;
    border-style: solid;
    position: absolute;
    left: -200px;

}

#timelines-list {
    background: #fff;
    color: #000;
    padding: 20px;
}

#timelines-list li a {
    font-style: italic;
    font-size: 11px;
    color: rgba(51, 122, 183, 0.8);
    display: none;
}

.sources {
    font-style: italic;
    font-size: 12px;
}

.sources a {
    cursor: pointer;
}
