body {
    background: #777;
    color: #ddd;
}

#timelines {
    padding-top: 60px;
}

.timeline {
    padding: 30px 0;
    margin: 0 auto;
}

.timeline .vis-panel.vis-center,
.timeline .vis-timeline {
    overflow: visible;
    background: #ddd;
}

.vis-item.default .vis-item-content {
    width: 300px;
    white-space: normal;
    text-align: left;
}
.vis-item.default {
    background-color: rgba(115, 155, 200, 1);
}
.vis-item.default.period {
    background-color: rgba(200, 155, 155, 1);
}
