{{ template "header.html" . }}

<h2>Timeline of Important Events</h2>

<p><a href="https://github.com/jchavannes/timeline">https://github.com/jchavannes/timeline</a></p>

<div id="timelines-list"></div>

<script type="text/javascript">

    var $timeline = $("#timelines-list");

    //{{ range $eraId, $era := .Eras }}
    timeline("{{ $era.Name }}", "{{ $era.Label }}", [
        // {{ range $eventId, $event := $era.Events }}
        {
            id: "{{ counter }}",
            group: 0,
            content: "<b>{{ $event.Label }}</b> {{ $event.Name }}",
            source: "{{ $event.Source }}",
            sourceText: "{{ $event.GetSourceText }}",
            title: "{{ $event.GetDate }}",
            start: "{{ $event.GetDate }}"
        },
        // {{ end }}
        // {{ range $periodId, $period := $era.Periods }}
        {
            id: "{{ counter }}",
            group: 1,
            content: "{{ $period.Name }}",
            title: "{{ $period.Name }}",
            start: "{{ $period.GetStart }}",
            end: "{{ $period.GetEnd }}",
            className: "period default"
        },
        // {{ end }}
    ], {
        start: "{{ $era.Window.GetStart }}",
        end: "{{ $era.Window.GetEnd }}"
    });
    //{{ end }}

    function timeline(eraName, eraLabel, eraData, window) {
        var appendText = "<h4>" + eraName + " (" + eraLabel + ")</h4><ul>";
        for (var i = 0; i < eraData.length; i++) {
            var event = eraData[i];
            if (event.group == 1) {
                appendText += "<hr/>";
                continue;
            }
            var sourceHtml = "";
            if (event.source.length > 0) {
                if (event.source.substr(0,4) == "http") {
                    sourceHtml = " <a href='" + event.source + "'>[" + event.sourceText + "]</a>";
                } else {
                    sourceHtml = " <i>[" + event.sourceText + "]</i>";
                }
            }
            appendText += "<li>" + event.content + sourceHtml + "</li>";
        }
        appendText += "</ul>";
        $timeline.append(appendText);
    }

</script>


{{ template "footer.html" . }}
