{{ template "header.html" . }}

<script type="text/javascript" src="/public/timeline.js"></script>

<div id="timelines-new"></div>

<script type="text/javascript">

    var timelines = [];

    //{{ range $eraId, $era := .Eras }}
    timelines.push({
        Eras: [],
        Events: [
            // {{ range $eventId, $event := $era.Events }}
            {
                Name: "{{ $event.Name }}",
                YearsAgo: "{{ $event.Actual }}",
                Label: "{{ $event.Label }}"
            },
            // {{ end }}
            ],
        Name: "{{ $era.Name }}",
        Label: "{{ $era.Label }}",
        Start: "{{ $era.Window.Min }}",
        End: 0
    });
    //{{ end }}

    /**
     * @type {Timeline}
     */
    /*var timeline = {
        Eras: [],
        Events: [{
            Name: "Big bang",
            YearsAgo: 13820000000,
            Label: "13.82 billion years ago"
        }, {
            Name: "First electrons, protons, and neutrons begin to form",
            YearsAgo: 13820000000,
            Label: "10 seconds after big bang"
        }, {
            Name: "First hydrogen atoms begin to form, CMB visibility horizon",
            YearsAgo: 13819700000,
            Label: "380,000 years after big bang"
        }, {
            Name: "First stars begin to form",
            YearsAgo: 13670000000,
            Label: "150 million years after big bang"
        }, {
            Name: "First galaxies begin to form",
            YearsAgo: 13420000000,
            Label: "400 million years after big bang"
        }, {
            Name: "Formation of Milky Way galaxy",
            YearsAgo: 9000000000,
            Label: "9 billion years ago"
        }],
        Name: "Beginning of the universe to present (13.82 billion years ago)",
        Label: "",
        Start: 13820000000,
        End: 0
    };*/

    createTimelines(timelines);
</script>


{{ template "footer.html" . }}
