{{ template "header.html" . }}

<script type="text/javascript" src="/public/timeline.js"></script>

<div id="timelines-new"></div>

<script type="text/javascript">

    var timelines = [];

    //{{ range $eraId, $era := .Eras }}
    timelines.push({
        Eras: [],
        Events: [
            // {{ range $eventId, $event := $era.Events }}
            {
                Name: "{{ $event.Name }}",
                YearsAgo: "{{ $event.Actual }}",
                Label: "{{ $event.Label }}"
            },
            // {{ end }}
            ],
        Name: "{{ $era.Name }}",
        Label: "{{ $era.Label }}",
        Start: "{{ $era.Window.Min }}",
        End: 0
    });
    //{{ end }}

    createTimelines(timelines);
</script>


{{ template "footer.html" . }}
