{{ template "header.html" . }}

<div class="row head">

    <div class="col-md-12">

        <h2>About</h2>

        <div class="timeline-body">

            <p>
                The purpose of this timeline is to get a better perspective on
                the scientific view of the universe leading to modern civilization.
                Looking back in the past is not easy, and our understanding of it is always changing.
                Everything has a history about where it came from and there is always more to learn.
                From color vision, language, and agriculture to the printing press, computers and the internet.
                We may be living in one of the biggest transitions in history - from biological life to artificial.
                The world seems like it's changing faster than ever.
            </p>
            <p>
                Understanding our past is one of the best ways to predict where we will go in the future.
                Nothing is certain, the history of Earth is full of mass extinction events
                (that sometimes took millions of years to recover from).
                Hopefully humanity doesn't succumb to one of its many threats -
                like nuclear war, manufactured super viruses, destruction of our climate, or even terminator AI.
                It's amazing to appreciate, in the long history of the universe, how crucial a time we were born into.
            </p>
            <p>
                The events that have been added to this timeline are ones which I believe are most relevant
                and would probably have parallels if life were to develop elsewhere.
                I am not educated in history or any field related to this timeline.
                There are no strict guidelines for what qualifies to be added to this list.
                This is a living document,
                so if there are any errors or new discoveries please submit a pull request on Github -
                <a href="https://github.com/jchavannes/timeline" target="_blank">
                    https://github.com/jchavannes/timeline</a>.
            </p>

        </div>

    </div>

</div>


{{ template "footer.html" . }}
