{{ template "header.html" . }}

<div class="row head">

    <div class="col-md-12">

        <h2>About</h2>

        <div class="timeline-body">

            <p>
                The purpose of this timeline is to get a better perspective on the steps in the evolution of the universe leading to modern civilization.
                The path leading to us is a long series of incremental changes.
                While there are many impressive milestones, some stick out more than the rest - i.e. the Big Bang, Earth, Life, Animals, and Human Civilization.
                Other than the Big Bang, each of these was a gradual transition.
                We currently seem to be entering another transition - probably one of the top five ever known - the development of computers and Artificial Intelligence.
            </p>
            <p>
                Understanding our past is one of the best ways to predict where we will go in the future.
                Nothing is certain, the history of Earth is full of mass extinction events (that took millions of years to recover from).
                Hopefully humanity doesn't succumb to one of its many threats - like nuclear war, manufactured super viruses, destruction of our climate, or even terminator AI.
                It's unknown what AI would do to humanity, but it's amazing to appreciate, in the 13.82 billion year history of the known universe, how critical of a point in time we were born into.
            </p>
            <p>
                The events that have been added to this timeline are ones which I believe are relevant to our evolution and would probably have parallels if life were to develop elsewhere.
                I am not educated in history or any field related to this timeline.
                There are no strict guidelines for what qualifies to be added to this list.
                This is a living document, so if there are any errors or new discoveries please submit a pull request on Github - <a href="https://github.com/jchavannes/timeline">https://github.com/jchavannes/timeline</a>.
            </p>

        </div>

    </div>

</div>


{{ template "footer.html" . }}
