{{ template "header.html" . }}

<div class="head">

    <div>

        <h2>Important Events of Known History</h2>

        <p><a href="https://github.com/jchavannes/timeline">https://github.com/jchavannes/timeline</a></p>

    </div>

    <div class="sources">

        <p>Sources: <a id="show-sources">Show</a> | <a id="inline-sources">Inline</a> | <a id="hide-sources">Hide</a></p>

    </div>

</div>

<div id="timelines-list" class="timeline-body"></div>

<script type="text/javascript">

    var $timeline = $("#timelines-list");

    //{{ range $eraId, $era := .Events.Eras }}
    timeline("{{ $era.Name }}", "{{ $era.Label }}", [
        // {{ range $eventId, $event := $era.Events }}
        {
            content: "<b>{{ $event.Label }}</b> {{ $event.Name }}",
            source: "{{ $event.Source }}",
            sourceText: "{{ $event.GetSourceText }}"
        },
        // {{ end }}
    ], $timeline);
    //{{ end }}

</script>


{{ template "footer.html" . }}
