{{ template "header.html" . }}

<div class="head">

    <div>

        <h2>Important Events of Known History</h2>

        <p>
            <a href="https://github.com/jchavannes/timeline">https://github.com/jchavannes/timeline</a>
        </p>

    </div>

</div>

<div id="timelines-list" class="timeline-body"></div>

<script type="text/javascript">

    var $timeline = $("#timelines-list");

    //{{ range $eraId, $era := .Events.Eras }}
    timeline("{{ $era.Name }}", "{{ $era.Label }}", [
        // {{ range $eventId, $event := $era.Events }}
        // {{ if $event.Necessary }}
        {
            content: "<b>{{ $event.Label }}</b><br/>{{ $event.Name }}",
            image: "{{ $event.Image.Name }}",
            imageLink: "{{ $event.Image.Link }}",
            imageWidth: "{{ $event.Image.Width }}",
            imageHeight: "{{ $event.Image.Height }}",
            source: "{{ $event.Source }}",
            sourceText: "{{ $event.GetSourceText }}"
        },
        // {{ end }}
        // {{ end }}
    ], $timeline);
    //{{ end }}

</script>


{{ template "footer.html" . }}
